<html>
<head>
    <meta charset="UTF-8">
    <title>Ta0ba0</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/jquery-2.2.0.js"></script>

    <script src="/static/bootstrap.min.js"></script>

    <script type="text/javascript" src="/static/smartcrop.min.js"></script>

    <script src="/static/vue.js"></script>
    <style>
        .cart_trh {
            background-color: limegreen;
            text-align: center;
            border: solid 2px;
        }

        .cart_trb {
            text-align: left;
            border: solid 1px;
        }

        .totalprice {
            font-weight: bold;
            font-style: italic;
        }

    </style>
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Ta0ba0</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated %}
                <li><a href="/product">Product</a></li>
                <li><a href="/category">Category</a></li>
                <li><a href="/purchase">Purchase</a></li>
                <li><a href="/dashboard">{{ current_user.username }}</a></li>
                <li><a href="/logout">Logout</a></li>

                <li><a href="/admin">admin</a></li>
                {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Regsiter</a></li>
                {% endif %}
            </ul>
        </div>

    </div><!--/.nav-collapse -->
</nav>
<div class="box-group1">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>