<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ cate.name }}</h1>
    {% for pro in cate.products %}
        <div style="height:32px;margin-bottom: 2px; width: 100%;border:solid 1px;padding:2px 2px 2px 100px">
            <div style="font-size: 18px;width:80px;float: right">{{ pro.price }}</div>
            <div style="width:80px;float: right"><input style="width:40px" type="text" id="count{{ pro.id }}"/>
            </div>
            <div style="margin-right:4px;float: right">
                <button id="but{{ pro.id }}" onclick="a2c(this)">Add to cart</button>
            </div>
            <div style="width: 420px;font-size: 18px"><a href="/product/{{ pro.id }}">{{ pro.name }}</a></div>
        </div>
    {% endfor %}
{% endblock %}