<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Hi {{ current_user.username }}, Welcome!~</h1>
{% if current_user.is_authenticated %}
<p>You balance is {{current_user.balance}}. Enjoy your shopping!</p>
{% endif %}
{% endblock %}