<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    {% for post in list %}
        <p>
            {% if post.pictures|length > 0 %}
                <b>*</b>
            {% endif %}
            <a href="/nop/post/{{ post.tid }}">{{ post.title }}</a>
            <b>{{ post.gg_number }}</b> likes by <a href="/nop/user/{{ post.uid }}">{{ post.user.name }}</a>
        </p>
    {% endfor %}

{% endblock %}