<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Username:<br>
            {{ form.username(size=80) }}<br>
        </p>
        <p>
            Password:<br>
            {{ form.password(size=80) }}<br>
        </p>
        <p>{{ form.remember_me }} Remember Me</p>
        <p><input type="submit" value="Sign In"></p>
    </form>
{% endblock %}