<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h2>{{ post.title }} by <a href="/nop/user/{{ post.uid }}">{{ post.user.name }}</a></h2>
    <p><a href="{{ ss }}viewthread.php?tid={{ post.tid }}">nop</a></p>
    {% for pic in post.pictures %}
        <p>
            <img src="{{ ss }}{{ pic.relative_address }}">
        </p>
    {% endfor %}
{% endblock %}