<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Products</h1>
{% for cat in categories %}
<div>
    <h2><a href="/category/{{ cat.id }}">{{ cat.name }}</a></h2>
    {% for pro in cat.products %}
    <div style="height:32px;margin-bottom: 2px; width: 100%;border:solid 1px;padding:2px 2px 2px 100px">
        <div style="font-size: 18px;width:80px;float: right">{{ pro.price }}</div>
        <div style="width:80px;float: right"><input style="width:40px" type="text" id="count{{ pro.id }}"/>
        </div>
        <div style="margin-right:4px;float: right">
            <button id="but{{ pro.id }}" onclick="a2c(this)">Add to cart</button>
        </div>
        <div style="width: 420px;font-size: 18px"><a href="/product/{{ pro.id }}">{{ pro.name }}</a></div>
    </div>
    {% endfor %}
</div>
{% endfor %}
<script>

        function purchase(){
            console.log("buy");
            $.ajax({
                type: 'POST',
                url: "purchase",
                data: {},
                success: function (data) {
                    console.log(data);
                    var jsn=JSON.parse(data);
                    $('#notification-bar').text(jsn.msg);
                    displayCart(jsn.content);
                },
                error: function () {
                    console.log("error");
                    $('#notification-bar').text('An error occurred');
                },
                dataType: "text"
            });
        }

</script>
<div id="notification-bar" style="border:solid 3px; text-align: center"></div>
<div id="cart">
    <h2 style="color: #22d040;">Cart</h2>
    {% raw %}
    <table style="width: 100%;border:solid 2px;">
        <thead>
        <tr class="cart_trh">
            <th style="width: 600px">Product name</th>
            <th style="width: 120px">Price</th>
            <th>Count</th>
            <th style="width: 160px">Total price</th>
        </tr>
        </thead>
        <tbody>

        <template v-for="pro in content">
            <tr class="cart_trb">
                <td>{{ pro.product.name }}</td>
                <td>{{ pro.product.price }}</td>
                <td>{{ pro.count }}</td>
                <td class="totalprice">{{ pro.product.price*pro.count }}</td>
            </tr>
        </template>
        </tbody>
    </table>
    {% endraw %}
    <button onclick="purchase()">Pay</button>
</div>
<script>

        function init() {
            controller = new Vue({
                el: '#cart',
                data: {
                    content: null
                },
                watch: {},
                computed: {},
                methods: {}
            });

            $.ajax({
                type: 'GET',
                url: "cart",
                data: {},
                success: function (data) {
                    displayCart(data);
                    $('#notification-bar').text('Load cart data successfully!');
                },
                error: function () {
                    console.log("error");
                    $('#notification-bar').text('An error occurred');
                },
                dataType: "text"
            });
        }


        function displayCart(content) {
            console.log(content);
            controller.content = JSON.parse(content);
        }

        function a2c(b) {
            id = b.id;
            var product_id = id.substring(3);
            var count_input = $("#count" + product_id)[0];

            var count = count_input.value;
            console.dir(count);
            if (product_id) {
                if (count) {
                    $.ajax({
                        type: 'POST',
                        url: "add2cart",
                        data: {count: count, product_id: product_id},
                        success: function (data) {
                            displayCart(data);
                            $('#notification-bar').text('Added to cart successfully!');
                            count_input.value = "";
                        },
                        error: function () {
                            console.log("error");
                            $('#notification-bar').text('An error occurred');
                        },
                        dataType: "text"
                    });
                } else {
                    console.error("Please input count");
                    $('#notification-bar').text('Please input count');
                }
            } else {
                console.error("element not found");
                $('#notification-bar').text('element not found');
            }
        }

        window.onload = init;





</script>
{% endblock %}