<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="/register" method="post" name="register">
        {{ form.hidden_tag() }}
        <p>
            Username:<br>
            {{ form.username(size=80) }}<br>
        </p>
        <p>
            Email:<br>
            {{ form.email(size=80) }}<br>
        </p>
        <p>
            Password:<br>
            {{ form.password(size=80) }}<br>
        </p>
        <p>
            Re-Password:<br>
            {{ form.re_password(size=80) }}<br>
        </p>
        <p><input type="submit" value="Register"></p>
    </form>
{% endblock %}