<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h2>{{ user.name }}</h2>
    {% for post in user.posts %}
        <p>
            {% if post.pictures|length > 0 %}
                <b>*</b>
            {% endif %}
            <a href="/nop/post/{{ post.tid }}">{{ post.title }}</a>
            <b>{{ post.gg_number }}</b>
        </p>
    {% endfor %}

{% endblock %}