<html>
<head>
    <meta charset="UTF-8">
    <title>Ali Big Daddy</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/jquery-2.2.0.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/smartcrop.min.js"></script>
    <style>
        .cart_trh {
            background-color: limegreen;
            text-align: center;
            border: solid 2px;
        }

        .cart_trb {
            text-align: left;
            border: solid 1px;
        }

        .totalprice {
            font-weight: bold;
            font-style: italic;
        }
    </style>
</head>
<body>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Ali Big Daddy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/product">product</a></li>
                <li><a href="/dashboard">{{ current_user.username }}</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </div>
    </div><!--/.nav-collapse -->
</nav>
<div class="container">
    <script src="/static/vue.js"></script>
    <script>
        function a2c(b) {
            console.dir(b);
            id = b.id;
            var product_id = id.substring(3);
            var count_input = $("#count" + product_id)[0];

            var count = count_input.value;
            console.dir(count);
            if (product_id) {
                if (count) {
                    $.ajax({
                        type: 'POST',
                        url: "add2cart",
                        data: {count: count, product_id: product_id},
                        success: function (data) {
                            console.log(data);
                            $('#notification-bar').text('Added to cart successfully!');
                        },
                        error: function () {
                            console.log("error");
                            $('#notification-bar').text('An error occurred');
                        },
                        dataType: "text"
                    });
                } else {
                    console.error("Please input count");
                    $('#notification-bar').text('Please input count');
                }
            } else {
                console.error("element not found");
                $('#notification-bar').text('element not found');
            }
        }
    </script>
    <h1>Products</h1>
    {% for cat in categories %}
        <div>
            <h2>{{ cat.name }}</h2>
            {% for pro in cat.products %}
                <div style="height:32px;margin-bottom: 2px; width: 100%;border:solid 1px;padding:2px 2px 2px 100px">
                    <div style="font-size: 18px;width:80px;float: right">{{ pro.price }}</div>
                    <div style="width:80px;float: right"><input style="width:40px" type="text" id="count{{ pro.id }}"/>
                    </div>
                    <div style="margin-right:4px;float: right">
                        <button id="but{{ pro.id }}" onclick="a2c(this)">Add to cart</button>
                    </div>
                    <div style="width: 420px;font-size: 18px">{{ pro.name }}</div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <div id="notification-bar" style="border:solid 3px; text-align: center"></div>
    <div id="cart">
        <h2 style="color: #22d040;">Cart</h2>
        <table style="width: 100%;border:solid 2px;">
            <thead>
            <tr class="cart_trh">
                <th style="width: 600px">Product name</th>
                <th style="width: 120px">Price</th>
                <th>Count</th>
                <th style="width: 160px">Total price</th>
            </tr>
            </thead>
            <tbody id="tbo">
            {% if cart %}
                {% for pro in cart.cartProducts %}
                    <tr class="cart_trb">
                        <td>{{ pro.product.name }}</td>
                        <td>{{ pro.product.price }}</td>
                        <td>{{ pro.count }}</td>
                        <td class="totalprice">{{ pro.product.price*pro.count }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <button onclick="btnClick()">Click</button>
        {% raw %}
        <table>
            <template v-for="item in irange">
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.value }}</td>
                </tr>
            </template>
        </table>
        {% endraw %}
    </div>
    <script>
        function init() {
            controller = new Vue({
                el: '#cart',
                data: {
                    irange: [
                        {"name": "name1", "value": "1"},
                        {"name": "name2", "value": "2"},
                        {"name": "name3", "value": "3"}
                    ]
                },
                watch: {
                    irange: "irangeChanged"
                },
                computed: {},
                methods: {
                    irangeChanged: function () {
                        var self = this;
                    }
                }
            });
        }

        function btnClick() {
            controller.irange[1].value = Math.random();
        }

        window.onload = init;
    </script>
</div>

</body>
</html>

